
/* CONTE�DO */
.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
  padding: 0;
}

.content.expanded {
  margin-left: 80px;
}

.toggle-btn {
  position: absolute;
  top: 50px;
  left: 232px;
  cursor: pointer;
  z-index: 1000;
  background: white;
  border: none;
  padding: 5px 10px;
  border-radius: 35px;
  transition: left 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
.toggle-btn i {
  color: #0055a4;
  transition: transform 0.3s ease;
}

.header {
  background: linear-gradient(
    to right, 
    #0D6193 0%, 
    #08486E 16%, 
    #001B2C 44%, 
    #001B2C 47%
  );
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.register-btn {
  width: 389px;
  height: 298px;
  border: 2px solid #0055a4;
  background: white;
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.register-btn:hover {
  background: #e9ecef;
  transform: scale(1.05);
}
.register-btn i {
  font-size:  4.5rem;
  color: #0055a4;
}
.register-text {
  text-align: center;
  margin-top: -70px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hide-on-collapse {
  display: block;
}
.sidebar.collapsed .hide-on-collapse {
  display: none;
}
.divider {
  border: 1px solid;
  height: 2px;
  background-color: #ffffff;
  margin: -15px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }
  .sidebar .nav-link span {
    display: none;
  }
  .content {
    margin-left: 80px;
  }
  .toggle-btn {
    left: 80px;
  }
}
