<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Ocorrência</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
<body>
<div class="container mt-4">
<h1 class="text-center">Registro de operações</h1>

<div class="row">
  <div class="col-md-6">
      <h3>Identificação do Problema</h3>
      
      <label>Data e Hora</label>
      <input type="datetime-local" class="form-control">

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome do Operador</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="João Gabriel">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Setor/Área afetada:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Principal/primeiro">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Descrição do problema:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
      </div>




      
    </head>
    <body>
    <div class="container mt-2">
    <h2 class="text-center">Classificação do Problema</h2>
    </body>
    </head>

    <label class="input-group-text" for="inputGroupSelect01">Tipo de Ocorrencia</label>
    <select class="form-select" id="inputGroupSelect01">
      
      <option value="1">Qualidade</option>
      <option value="2">Estado</option>
      <option value="3">Funcionamento</option>
    </select>

    <label class="input-group-text" for="inputGroupSelect01">Nivel de Impacto</label>
    <select class="form-select" id="inputGroupSelect01">
      
      <option value="1">Alto</option>
      <option value="2">Medio</option>
      <option value="3">Baixo</option>
    </select>

    <label class="input-group-text" for="inputGroupSelect01">Problema Recorrente?</label>
    <select class="form-select" id="inputGroupSelect01">
      
      <option value="1">Sim</option>
      <option value="2">Não</option>
    </select>

    <label class="input-group-text" for="inputGroupSelect01">Detalhamento Técnico</label>
    <select class="form-select">
      
      <option value="1">Sim</option>
      <option value="2">Não</option>
    </select>

<div class="text-center mt-4">
  <button class="btn btn-danger">Cancelar</button>
  <button class="btn btn-warning">Limpar</button>
  <button class="btn btn-success">Continuar</button>
</div>

      

